*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    padding-left: max(13%);
    padding-right: max(13%);
}
.header{
    padding-top: 10px;
    padding-bottom: 10px;
}
.Home{
    float: left;
    margin-right: 10%;
}
ul {
    list-style-type: none;
}
li{
    display: inline;
}
#menu li{
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #DBDCE1;
}
.header .Request-button, .all-rights .Request-button{
    float: right;
}
.Request-button{
    background-image: linear-gradient(to right, #31CF6C, #2BB9CF);
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
} 
.Next-generation{
    position: relative;
    background-color: #FAFAFA;
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: 110% 40%;
    background-repeat: no-repeat;
    background-size: 50%;
} 
.Next-generate{
    margin-right: 615px;
}
.mockups-image-box{
    position: absolute;
    right: 0;
    max-width: 500px;
    overflow-x: hidden;
}
.mockups-image{
    width: 600px;
    margin-top: -100px;
    height: 500px;
}
#Next-generation{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 10px;
}
.Next-generate-button{
    padding-top: 30px;
    padding-bottom: 50px;
}
.why-choose{
    background-color: #F4F5F7;
}
.easybank{
    padding-top: 40px;
    font-size: 30px;
}
.banking-icon{
    float: left;
    width: 23%;
    margin-right: 15px;
}
.banking-icon:last-child{
    width: 24%;
}
.icon{
    width: 50px;
}
.icon-body{
    padding-top: 10px;
    padding-bottom: 30px;
}
.icon-heading{
    padding-bottom: 10px;
}
.leverage{
    margin-right: 45%;
}
.Latest-Articles{
    background-color: #FAFAFA;
}
.body-image-box{
    float: left;
    width: 24%;
    margin-right: 8px;
    background-color: #FFFFFF;
}
.Latest-Articles h1{
    padding-top: 20px;
    padding-bottom: 10px;
}
.image-heading{
    padding-bottom: 10px;
}
.image-heading:hover{
    background-color: #86C2AC;
    cursor: pointer;
}
.body-images{
    width: 100%;
    height: max(150px);
}
.body-images-body{
    padding: 25px;
}
.Author{
    padding-bottom: 5px;
}
.footer{
    background-color: #2D314E;
    padding-top: 10px;
}
.footer-left{
    float: left;
}
.footer-logo{
    filter: brightness(550%);
    margin-bottom: 20px;
}
.footer-icons{
    color: #ffffff;
}
.footer-items li{
    margin-left: 25%;
}
.footer-items li:hover{
    background-color: #308C79;
}
.all-rights{
    float: right;
}
.copyright{
    float: right;
    color: #DBDCE1;
    padding-top: 20px;
}

.clear-fix::after{
    content: "";
    clear: both;
    display: table;
}
.hamburger-icon{
    display: none;
}
#media-menu{
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 80%;
    margin-top: 30px;
    padding: 40px ;
    text-align: center;
    line-height: 40px;
    z-index: 1;
    right: 10%;
}

@media (max-width: 600px){
    .Next-generation{
        background-position: -10% -30%;
        background-size: 800px 380px;
    }
    .mockups-image{
        height: 400px;
    }
    .hamburger-icon{
        display: block;
    }
    .close-icon{
        display: none;
        position: absolute;
        margin-top: -20px;
        background-color: #ffffff;
        padding-left: 20px;
    }
    #menu{
        display: none;
    }
    li{
        display: block;
    }
        .hamburger-icon:hover #media-menu, .hamburger-icon:hover .close-icon{
        cursor: pointer;
        display: block;
    }
    .header .Request-button{
        display: none;
    }
    .mockups-image-box{
        position: static;
    } 
    .Next-generate{
        margin-right: 0;
    }
    .mockups-image{
        width: 100%;
    }
    .body-image-box, .banking-icon, .leverage, .banking-icon:last-child, .footer-left, .all-rights, .copyright,
     .all-rights .Request-button{
        float: none;
        width: 100%;
        margin-right: 8px;
    }
    .banking-icon, .Next-generate, .why-choose, .footer{
        text-align: center;
    }
    .footer-items li{
        margin-left: 0;
        line-height: 30px;
    }
    .body-image-box{
        margin-bottom: 20px;
    }
    .header-lists{
        float: right;
    }
    .all-rights{
        margin-top: 20px;
    }
}